In [1]:
name=["gautam","Ram","supriya","shyam","Mrx"]

In [4]:
for i in name:
    if i=="supriya":
        print(i)
    else:
        print("No Supriya name in the list")

No Supriya name in the list
No Supriya name in the list
supriya
No Supriya name in the list

creating a new list which is having at least one "a"

In [7]:
name=["gautam","Ram","supriya","shyam","Mrx"]
name_a=[]
for x in name:
    if "a" in x:
        name_a.append(x)

In [8]:
name_a

['gautam', 'Ram', 'supriya', 'shyam']

In [9]:
name_aa=[x for x in name if "a" in x]

In [10]:
name_aa

['gautam', 'Ram', 'supriya', 'shyam']

# Syntax for list comprehension

In [ ]:
newlist=[expression for item in iterable if condition==True]

In [11]:
name_aa=[x for x in name if "a" in x]

In [12]:
name_aa

['gautam', 'Ram', 'supriya', 'shyam']

generate a number from range and put it in a list

In [17]:
N=int(input("Enter your number:"))
newlist=[]
for i in range(N):
    newlist.append(i)
print(newlist)

Enter your number:5
[0, 1, 2, 3, 4]

In [15]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
N=int(input("Enter your number:"))
newlist1=[x for x in range(N)]
print(newlist1)

Enter your number:10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
N=int(input("Enter your number:"))
newlist=[]
for i in range(N):
        i+=1
        newlist.append(i)
print(newlist)

Enter your number:10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
N=int(input("Enter your number:"))
newlist1=[i+1 for i in range(N) ]

Enter your number:10

In [26]:
newlist1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# case1: list of a radious [5,6,7,8,9]

In [33]:
rad=[5,6,7,8,9]
pi=3.14
area=[]
for i in rad:
    area_of=pi*i*i
    print(i)
    print(area_of)
    area.append(area_of)
print(area)

5
78.5
6
113.03999999999999
7
153.86
8
200.96
9
254.34
[78.5, 113.03999999999999, 153.86, 200.96, 254.34]

In [31]:
newlist1=[3.14*i*i for i in rad]

In [32]:
newlist1

[78.5, 113.03999999999999, 153.86, 200.96, 254.34]

# Function

In [34]:
def circle_area(r):
    area=3.14*r*r
    return area
def circle_perimeter(r):
    perimeter=3.14*2*r
    return perimeter

In [39]:
print(circle_area(20))
print(circle_perimeter(29))

1256.0
182.12

In [43]:
def circle_area(r,pi):
    area=pi*r*r
    return area
def circle_perimeter(r,pi):
    perimeter=pi*2*r
    return perimeter

In [44]:
print(circle_area(20,3.14))
print(circle_perimeter(29,3.14))

1256.0
182.12

In [52]:
list_rad=[10,20,30]
def circle_area(list_rad,pi **kwargs):
    area_list=[]
    for i in list_rad:
        area=pi*i*i
        area_list.append(area)
    return area_list

In [53]:
circle_area([10,20,30],3.14)

[314.0, 1256.0, 2826.0]

In [ ]:
def circle_area(list_rad,pi **kwargs):
    pass

In [61]:
def func(**kwargs):
    print("your first name is "+kwargs["lname"])

In [62]:
func(fname="Gautam",lname="Kumar",mid="Something")

your first name is Kumar

In [59]:
def func(fname):
    print("your first name is " + fname)

In [60]:
func("Gautam")

your first name is Gautam

In [63]:
def cal(a,b,c,d,e,f):
    cal1=a+b+c+d-e*f
    return cal1

In [64]:
#a+b+c+d-e*f
cal(10,20,30,40,50,10)

-400

In [74]:
cal1=lambda a,b,c,d,e,f:(a+b+c+d-e*f)

In [76]:
print(cal1(10,20,30,40,50,10))

-400