# Python - Data Types and Type casting

# Data types

There are many different types of objects in Python. The most common object types: strings, integers and floats. Anytime you are using words (text) in Python, you're using character strings (str for short). The most common numbers, on the other hand, are integers (e.g. -2, 0, 99) and floats, which represent real numbers (e.g. 1.99, -23.340).

<b>Way to define literals <b>

In [1]:
1 # integer

1

In [2]:
1.5 # float

1.5

In [3]:
'my string'

'my string'

In [48]:
True

True

<b>Way to check type of literal<b>

Python provides a 'type' function of any literal or object. Just pass in the object as argument to the type() function, it will return the 
data type of that object as follows:

In [5]:
type(1)  #returns int for integer

int

In [6]:
type(1.5) #returns float for real number

float

In [7]:
type('my string') #returns str for set of characters

str

In [49]:
type(True)

bool

<b>Integers<b>

It can be positive or negative but without decimal values.

In [8]:
type(1)

int

In [9]:
type(0)

int

In [10]:
type(-1)

int

<b>Floats<b>

Floats are numbers with decimal points in it. The representation can vary from system to system.

In [11]:
type(1.0)

float

In [12]:
type(0.0)

float

In [13]:
type(-1.0)

float

In [14]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<b>Boolean <b>

Boolean has only two possible values : True or False

In [37]:
True  #note T is capital

True

In [39]:
False  #note F is capital

False

In [40]:
type(True)

bool

In [41]:
type(False)

bool

# Type casting

<b>Converting from one object type to a different object type<b>

In [16]:
int(1.5) #covert float to integer, loss of info

1

In [19]:
type(int(1.5))

int

In [18]:
int('1') #convert string to integer

1

In [20]:
type(int('1'))

int

<b>Converting integers to floats<b>

In [22]:
type(2)

int

In [23]:
type(float(2))

float

<b>Converting from strings to integers or floats<b>

In [24]:
int('1')  #Converting from string to int

1

In [25]:
type(int('1'))

int

In [1]:
type(float('1'))

float

In [30]:
float('1.5')  #Converting from string to float

1.5

In [29]:
type(float('1.5'))

float

<b>Converting numbers to strings<b>

In [32]:
str(1)  #Converting  string to int

'1'

In [33]:
type(str(1))

str

In [35]:
str('1.5')#Converting  string to float

'1.5'

In [36]:
type(str('1.5'))

str

<b>Converting boolens to integers<b>

In [42]:
int(True)

1

In [43]:
float(True)

1.0

<b>Converting numbers to booleans<b>

In [44]:
bool(1)

True

In [45]:
bool(1.5)

True

In [46]:
bool(0)

False

# Exercise

Q1. What will be type of expression ( 5 + 4.5 - 3)

In [ ]:
#Try it here

Q2. Use type() function to check type of 'one', '1 or 2', '1.4' and '1/2'

In [51]:
#Try it here

# Answers

In [ ]:
# Q1. solution
type(5 + 4.5 - 3)

In [ ]:
# Q2. solution
print(type('one'))
print(type('1 or 2'))
print(type('1.4'))
print(type('1/2'))